.grid-container {
  width: 100%;
  font-size: 50%;
  display: grid;
  grid-template-columns: 0.3fr 2.3fr 0.8fr;
  grid-template-rows: 0.5fr 2.2fr 0.3fr;
  gap: 0px 0px;
}

.menu-rect { 
  grid-area: 1 / 1 / 2 / 4;
  position: sticky;
  top: 0; 
  left: 0;
  height: 32px;
  background-color: #ffbe5f;
  overflow-x: hidden;
  margin-right: 5%;
    text-align: center; 

}
.menu-rect a
{
  color: #0048a6;
  text-decoration: none;
  font-family: verdana;
  font-size: 300%;
  display: inline;

}

.menu-rect a:hover{
  color: #f1f1f1;
  
  background: #00283f;
}

.menu-rect a:hover > i{
  color: #ffbe5f;
}

.menu-rect a > i{
  padding-left: 32px;
  padding-right: 32px;
}


.scrolling-text { 
 grid-area: 2 / 3 / 3 / 4;
  width: 5%;
  opacity: 0.5;
  height: 100vh;
  top: 0; 
  right: 0;
  position: fixed;
  margin: 0;
  z-index: 2; 

}
.scrolling-text p {
  transform: rotate(-180deg);
line-height: 100px;
   writing-mode: vertical-rl;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 400%;
}


.footer { 
  grid-area: 3 / 1 / 4 / 4;
  font-size: 1px;
  padding: 0%;
  margin-right: 5%;
  text-align: center; 
  border: 5px solid #76c9f8;
  background: #76c9f8;
  color: #0048a6;
  font-family: verdana;
  display: block;
  z-index: 1;
}

.body-content { 
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-area: 2 / 1 / 3 / 4;
  font-size: 200%;
  padding: 1%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 5%;
  color: #0048a6;
  font-family: verdana;
  display: block;
  border: 5px solid #76c9f8;
  background: #76c9f8;
  top: 0; 
  left: 0;
}

body{
  
  background-size: cover;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-color: #00283f;

}
h1 
{
  padding-left: 30px;
    color: #ffbe5f;
  font-family: verdana;
  font-size: 400%;
}

h2{
	text-align: center;
}
